:root {
  --primary-color: #8a58e6;
  --secondary-color: #6c70e4;
  --light-color: #fff;
  --dark-color: rgba(0, 0, 0, 0.8);
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --border-radius: 20px;
  --transition-speed: all 0.3s ease-in-out;
  --gradient: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
/*   border: 1px solid red; */
}

body {
  background: var(--gradient);
  color: var(--light-color);
  margin: 0;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-color);
  box-shadow: var(--box-shadow);
}

a { 
  text-decoration: none;
  color:var(--primary-color); 
}

a:hover { 
  text-decoration: underline;
  color:var(--primary-color); 
}

header h1 {
  color: var(--primary-color);
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 24px;
  border: 2px solid var(--light-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  transition: var(--transition-speed);
}

nav a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

main {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100% - 322px);
}

main .profile-picture {
  border-radius: 50%;
  width: 256px;
  height: auto;
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  display: block;
}

main h2 {
  font-size: 28px;
  margin-top: 50px;
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  white-space: pre-line;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}

.project-box {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 30%;
  position: relative;
  overflow: hidden;
  transition: var(--transition-speed);
  margin-bottom: 20px;
}

.project-box img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.project-footer {
  background: var(--gradient);;
  color: var(--light-color);
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  text-align: center;
}

.project-description {
  background: var(--dark-color);
  color: var(--light-color);
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  padding: 20px;
  transition: var(--transition-speed);
}

.project-description p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project-box:hover .project-description {
  bottom: 0;
}

.social-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}

.social-box {
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  width: 40%;
  box-shadow: var(--box-shadow);
  position: relative;
  height: 75px;
  margin: 10px;
  transition: var(--transition-speed);
}

.social-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.social-box img {
  height: 75px;
}

.social-label {
  background: var(--gradient);
  color: var(--light-color);
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  align-items: center;
  display: flex;
}

.social-description {
  background: var(--dark-color);
  color: var(--light-color);
  position: absolute;
  bottom: -150%;
  left: 0;
  right: 0;
  padding: 20px;
  transition: var(--transition-speed);
}

.social-box:hover .social-description {
  bottom: 0;
}

footer {
  background: var(--light-color);
  color: var(--primary-color);
  font-size: 16px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

footer a {
  color: var(--light-color);
  text-decoration: none;
  border-bottom: 1px solid var(--light-color);
  transition: var(--transition-speed);
}

footer a:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}
